<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />
    <!-- font files -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  </head>

  <body>
    <div
      style="
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        padding: 40px 0;
      "
    >
      <table
        align="center"
        bgcolor="#EAECED"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="
          margin: 0px auto;
          width: 600px;
          background: #7b1930;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 40px;
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        "
      >
        <tbody>
          <tr
            style="
              width: 100%;
              border-bottom: 1px solid #7b1930;
              display: flex;
              text-align: center;
            "
          >
            <td style="width: 100%">
              <figure style="margin: 20px auto">
                <img style="width: 80px" src="image/logo.png" alt="logo" />
              </figure>
            </td>
          </tr>
          <tr
            style="width: 100%; display: inline-block; vertical-align: middle"
          >
            <td style="width: 100%; display: inline-block">
              <table style="width: 100%; display: inline-block">
                <tr style="width: 100%; display: inline-block">
                  <td
                    style="
                      width: 100%;
                      display: inline-block;
                      text-align: center;
                    "
                  >
                    <img width="500px" src="image/congrats.svg" alt="" />
                  </td>
                </tr>
                <tr style="width: 100%; display: inline-block">
                  <td
                    style="
                      color: #fff;
                      font-size: 18px;
                      font-weight: 500;
                      margin: 0px 0px;
                      width: 100%;
                      display: inline-block;
                      text-align: center;
                    "
                  >
                    <p style="margin: 10px 0px">
                      Your profile has been Approved by Admin, <br />
                      You can use the platform.
                    </p>
                  </td>
                </tr>
                <tr style="width: 100%; display: inline-block">
                  <td
                    style="
                      color: #fff;
                      font-size: 16px;
                      font-weight: 600;
                      width: 100%;
                      display: inline-block;
                      text-align: center;
                    "
                  >
                    <a href="#" style="color: #fff; text-decoration: underline">
                      Click here
                    </a>
                    to login
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr
            style="
              width: 100%;
              display: inline-block;
              margin-top: 20px;
              padding-top: 20px;
            "
          >
            <td style="width: 100%; display: inline-block">
              <ul
                style="
                  display: flex;
                  justify-content: flex-end;
                  margin: 0;
                  align-items: center;
                "
              >
                <li style="list-style: none; padding: 10px 10px">
                  <a href="#">
                    <img style="width: 10px" src="image/facebook.png" alt="" />
                  </a>
                </li>
                <li style="list-style: none; padding: 10px 10px">
                  <a href="#">
                    <img style="width: 20px" src="image/Twitter.png" alt="" />
                  </a>
                </li>
                <li style="list-style: none; padding: 10px 10px">
                  <a href="#">
                    <img style="width: 20px" src="image/Linkedin.png" alt="" />
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
