<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appiass</title>
    <style>
            .Payment_mode {
                padding: 0;
            }
            .sub_main_heading {
                text-align: center
            }
            .congrulation.login.Payment_mode .sub_main_heading h2 {
                text-align: center;
                font-size: 30px;
                width: 80%;
                margin: 28px auto 0 auto;
            }
           
            button.btn-back {
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ff8a74;
        font-size: 17px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        border: unset;
        border-radius: 50px;
        padding: 13px 35px;
        cursor: pointer;;
        cursor: pointer;
    }
    .congrulation.login.Payment_mode .sub_main_heading p {
        font-size: 20px;
        color: #333;
        margin: 20px 0;
        text-align: center;
    }
    figure {
        width: 390px;
        margin: auto;
    }
    img {
        width: 100%;
    }   
    .body_wrap {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width:600px){
        figure {
        width: 250px;}
        .congrulation.login.Payment_mode .sub_main_heading h2 {
        
        font-size: 23px;
      
        margin: 19px auto 0 auto;
    }
    button.btn-back {
      
        font-size: 16px;
        
        padding: 12px 27px;
    }
    .congrulation.login.Payment_mode .sub_main_heading p {
        font-size: 16px;
       
        margin: 16px 0;
      
    }
    }
        </style>
</head>

<body>
    <div class="body_wrap">
        <div class="congrulation login Payment_mode">
            <div class="conta_iner">
                <div class="sub_main_heading">
                    <figure><img src="https://genie.mt:9034/static/payment_success.png"></figure>
                    <h2>Payment Successful!</h2>
                    <p id="fail_message"></p>
                    <button class="btn-back" onclick="onSubmit()">Go To Website</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        setTimeout(() => {
            // appgrowth
            // const BASEURL = 'https://appgrowthcompany.com/genie';

            // live
            const BASEURL = process.env.BASE_URL||'https://genie.mt/genie';

            const role = getParameterByName('role', window.location.href);
            if (role == 'sp') document.getElementById("fail_message").innerHTML="The €1 card verification transaction successful!. You will get refund shortly.";
            else document.getElementById("fail_message").innerHTML="Your booking is successful!";
            if (role && role.toLowerCase() == 'sp') {
                window.location.href = BASEURL + `/profile/setup-complete/sp`;
            } else {
                const id = getParameterByName('id', window.location.href);
                window.location.href = BASEURL + `/customer/booking-detail/${id}`;
            }
        }, 3000);
        function onSubmit() {
            const role = getParameterByName('role', window.location.href);
            if (role && role.toLowerCase() == 'sp') {
                window.location.href = BASEURL +  `/profile/setup-complete/sp/profile/setup-complete/sp`;
            } else {
                const id = getParameterByName('id', window.location.href);
                window.location.href = BASEURL + `/customer/booking-detail/${id}`;
            }
        }
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    </script>
</body>

</html>
